
.contentsContainer{
  min-height: calc(100vh - 115px);
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.contentsContainer section{
  padding: 20px 0px;
}
.contentsContainer section .searchfield{
  background-image: url("https://img.freepik.com/premium-photo/magnifying-glass-green-background-search-concept_661495-10969.jpg?w=1060");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 300px;
}